<header class='main-header'>
  <%= link_to root_path, class: 'brand' do %>
    <i class="fa fa-book" aria-hidden="true"></i> Atelier
  <% end %>
  <% if current_user %>
    <div class="user-data">
      <ul class="user-data__nav">
        <li><%= link_to 'edit', edit_user_registration_path %></li>
        <li><%= link_to 'my reservations', users_reservations_path(current_user.id)  %></li>
      </ul>
      <span class="user-data__user"><%= current_user.email %></span>
      <%= button_to('log out', destroy_user_session_path, method: :delete, class: "btn btn--logout") %>
    </div>
  <% end %>
</header>
