<div class="basic-form">
  <h2>New book</h2>
  <%= form_tag books_path, method: :post do %>
    <div class="field field-link x-isbn">
      <%= text_field_tag 'isbn', '', placeholder: 'isbn' %>
      <%= link_to 'get info', '#', class: 'x-get-book-info-from-google-books get-info' %>
    </div>

    <div class="field x-title">
      <%= text_field_tag 'title', '', placeholder: 'title', autofocus: true %>
    </div>

    <div class="field x-category-name">
      <%= text_field_tag 'category_name', '', placeholder: 'category' %>
    </div>

    <div class="field x-page-count">
      <%= number_field_tag 'page_count', '', placeholder: 'pages count' %>
    </div>

    <div class="field x-published-date">
      <%= text_field_tag 'published_date', '', placeholder: 'published date (yyyy-mm-dd or yyyy)' %>
    </div>

    <%= button_tag type: 'submit', class: 'btn' do %>
      <i class="fa fa-check"></i>
      save
    <% end %>

    <%= link_to books_path, class: 'btn btn--cancel' do %>
      cancel
    <% end %>

  <% end %>
</div>
