<main class="main-content">
  <h2><%= @user.email %></h2>
  <% if @user.reservations.active.any? %>
    <h3>reservations:</h3>
    <table>
      <thead>
        <tr>
          <th>status</th>
          <th>title</th>
          <th>expires</th>
        </tr>
      </thead>
      <tbody>
        <% @user.reservations.active.each do |reservation| %>
          <tr>
            <td class='book-status book-status--<%= reservation.status.underscore %>'><%= reservation.status %></td>
            <td><%= reservation.book.title %></td>
            <td><%= reservation.expires_in %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    user does not have reservations
  <% end %>

  <% if @user.reservations.completed.any? %>
    <h3>completed:</h3>
    <table>
      <thead>
        <tr>
          <th>title</th>
        </tr>
      </thead>
      <tbody>
        <% @user.reservations.completed.each do |reservation| %>
          <tr>
            <td><%= reservation.book.title %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</main>
